<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mijn KKTOE Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="header-content">
            <a href="/account" class="account-button">
                <img src="/images/profiel-foto.png" alt="Mijn Account" class="profile-pic">
                Mijn Account
            </a>
            <h1>Mijn KKTOE Dashboard</h1>
        </div>
    </header>

    <div class="button-container">
        <a href="/rooster" class="button">
            <span>Rooster</span>
            <img src="/images/rooster.png" alt="Rooster">
        </a>

        <!-- Voeg 'kktoe' rol toe aan de voorwaarde -->
        <% if (user && (user.role === 'administrator' || user.role === 'techniek' || user.role === 'kktoe')) { %>
            <a href="/openstaande-diensten" class="button">
                <span>Openstaande diensten</span>
                <img src="/images/intekenen.png" alt="Intekenen op diensten">
            </a>
        <% } %>

        <a href="/mijn-diensten" class="button">
            <span>Mijn diensten</span>
            <img src="/images/mijn-diensten.png" alt="Mijn diensten">
        </a>

        <a href="/mijn-gegevens" class="button">
            <span>Mijn gegevens</span>
            <img src="/images/mijn-gegevens.png" alt="Mijn gegevens">
        </a>

        <% if (user.role === 'administrator') { %>
            <a href="/admin-dashboard" class="button">
                <span>Admin Dashboard</span>
                <img src="/images/admin.png" alt="Admin Dashboard">
            </a>
        <% } %>
    </div>

    <footer>
        <p>© 2024 Mijn KKTOE. Alle rechten voorbehouden.</p>
    </footer>
</body>
</html>
