<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="header-content">
            <a href="/dashboard" class="account-button">
                <img src="/images/back.png" alt="Terug" class="profile-pic">
                Terug naar Dashboard
            </a>
            <h1>Admin Dashboard</h1>
        </div>
    </header>

    <div class="button-container">
        <a href="/gebruikers" class="button">
            <span>Beheer Gebruikers</span>
            <img src="/images/gebruikers.png" alt="Beheer Gebruikers">
        </a>

        <a href="/inschrijvingen-beheren" class="button">
            <span>Inschrijvingen Beheren</span>
            <img src="/images/diensten.png" alt="Inschrijvingen Beheren">
        </a>

        <a href="/inschrijvingen" class="button">
            <span>Bekijk Inschrijvingen</span>
            <img src="/images/inschrijvingen.png" alt="Bekijk Inschrijvingen">
        </a>

        <a href="/logout" class="button">
            <span>Uitloggen</span>
            <img src="/images/logout.png" alt="Uitloggen">
        </a>
    </div>

    <footer>
        <p>© 2024 Mijn KKTOE. Alle rechten voorbehouden.</p>
    </footer>
</body>
</html>
