body {
    font-family: Arial, sans-serif;
    background-color: #307a8d;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #000000;
    margin: 0; /* Verwijder standaard marge van h1 */
    position: absolute; /* Maak het mogelijk om het h1-element te centreren */
    left: 50%; /* Begin op 50% van de breedte */
    transform: translateX(-50%); /* Verplaats naar links met de helft van de breedte van het element */
}

header {
    background-color: #ffffff; /* Achtergrondkleur van de header */
    padding: 5px 20px; /* Verminder de padding voor een dunnere header */
    display: flex;
    align-items: center; /* Center de items verticaal */
    justify-content: flex-start; /* Laat de items aan de linkerkant beginnen */
    position: relative; /* Voor de positionering van de h1 */
    width: 100%; /* Zorg ervoor dat de header de volledige breedte heeft */
    height: 50px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Items naar links */
}

.account-button {
    display: flex;
    align-items: center;
    color: #000000; /* Kleur van de tekst */
    text-decoration: none;
    margin-right: 20px; /* Ruimte tussen de profielknop en de titel */
}

.profile-pic {
    width: 50px; /* Grootte van de profielfoto */
    height: 50px;
    border-radius: 50%; /* Maak het rond */
    margin-right: 10px; /* Ruimte tussen foto en tekst */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 15px;
    border-color: #b5d609;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button span {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px; /* Ruimte tussen tekst en afbeelding */
}

.button img {
    width: 100px;
    height: 100px;
}

.button:hover {
    background-color: #e438f7;
}
